<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
            <mapping class="cn.com.sinofaith.bean.cftBean.CftZcxxEntity"/>
            <mapping class="cn.com.sinofaith.bean.cftBean.CftZzxxEntity"/>
            <mapping class="cn.com.sinofaith.bean.cftBean.CftTjjgEntity"/>
            <mapping class="cn.com.sinofaith.bean.cftBean.CftTjjgsEntity"/>
            <mapping class="cn.com.sinofaith.bean.cftBean.CftPersonEntity"/>
            <mapping class="cn.com.sinofaith.bean.AjEntity"/>
            <mapping class="cn.com.sinofaith.bean.bankBean.BankZcxxEntity"/>
            <mapping class="cn.com.sinofaith.bean.bankBean.BankZzxxEntity"/>
            <mapping class="cn.com.sinofaith.bean.bankBean.BankPersonEntity"/>
            <mapping class="cn.com.sinofaith.bean.bankBean.BankTjjgEntity"/>
            <mapping class="cn.com.sinofaith.bean.bankBean.BankTjjgsEntity"/>
            <mapping class="cn.com.sinofaith.bean.bankBean.BankCustomerEntity"/>
            <mapping class="cn.com.sinofaith.bean.bankBean.MappingBankzzxxEntity"/>
            <mapping class="cn.com.sinofaith.bean.wlBean.WuliuEntity"/>
            <mapping class="cn.com.sinofaith.bean.wlBean.WuliuRelationEntity"/>
            <mapping class="cn.com.sinofaith.bean.wlBean.WuliuShipEntity"/>
            <mapping class="cn.com.sinofaith.bean.wlBean.WuliuSjEntity"/>
            <mapping class="cn.com.sinofaith.bean.pyramidSaleBean.PyramidSaleEntity"/>
            <mapping class="cn.com.sinofaith.bean.pyramidSaleBean.PsHierarchyEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbJyjlEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZcxxEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZhmxEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZhmxQxsjEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZhmxTjjgEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZhmxTjjgsEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZhmxJczzEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZhmxJylxEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZzmxEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbDlrzEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZzmxTjjgEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbZzmxTjjgsEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbJyjlTjjgsEntity"/>
            <mapping class="cn.com.sinofaith.bean.zfbBean.ZfbJyjlSjdzsEntity"/>
            <mapping class="cn.com.sinofaith.bean.UserEntity"/>
            <mapping class="cn.com.sinofaith.bean.customerProBean.CustomerproEntity"/>
            <mapping class="cn.com.sinofaith.bean.customerProBean.PersonCompanyEntity"/>
            <mapping class="cn.com.sinofaith.bean.customerProBean.PersonNumberEntity"/>
            <mapping class="cn.com.sinofaith.bean.customerProBean.PersonRelationEntity"/>
            <mapping class="cn.com.sinofaith.bean.RelZjhHmEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>